<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBl7abfMTUpvOD_WTV-RziHZf3xhPvuGB8</string>
	<key>GCM_SENDER_ID</key>
	<string>455798651549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.challengue.ToDoListSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>todolist-77c98</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-77c98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455798651549:ios:86d8a902c42d3c75e5b274</string>
</dict>
</plist>